///
/// This file regroups the variables that style odoo components.
/// They are available in every asset bundle.
///

// Font sizes
$o-font-size-base: 13rem * (1px / $o-root-font-size);

// Colors

$o-brand-odoo: $o-community-color;
$o-brand-primary: $o-community-color;

// Layout
//
// Extension of BS4. This is not redefining the BS4 variable directly as we only
// need the extra ones for media queries (not creating new breakpoint classes).
// Note: default BS4 values are hardcoded here while it should be possible to
// merge with the default BS variable (but we would have to take care of
// ordering & cie).

// Needed for having no spacing between sheet and mail body in mass_mailing:
// Different required cancel paddings between web and web_enterprise

// Kanban
$o-kanban-mobile-empty-height: $o-kanban-image-width;
